<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>侧面选项卡列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<!-- <link href="/assets/front_page/Edit.css" rel="stylesheet" /> -->
		<link rel="stylesheet" type="text/css" href="/assets/front_page/editApp.css" />
		<script src="/assets/front_page/mui.min.js"></script>
		<script src="/assets/front_page/jquery-3.3.1.min.js"></script>
	</head>

	<body>
	    <div class="mui-off-canvas-wrap mui-slide-in">
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">侧面选项卡列表</h1>
				</header>
				
				<div class="mui-content mui-row mui-fullscreen">
					<div class="mui-bar mui-row filterBtn" style="background: #FFFFFF !important;">
						<a id="offCanvasShow" href="#" style="position: absolute; left: 0; width: 72%; z-index: 9999; height: 44px;line-height: 44px;" class="cml-aside" for="pk_operator">
							<span style="display: none;">显示侧面选项卡</span>
						</a>
						<div class="mui-input-row mui-search mui-col-xs-9">
							<input type="search" class="mui-input-clear" placeholder="搜索志号、名称、简称、俗称等信息">
						</div>
						<div class="mui-col-xs-3">
							<div class="mui-btn mui-btn-danger mui-btn-outlined cml-aside filterBtnA" for="pk_loginway">筛选</div>
						</div>
					</div>

					<div class="mui-col-xs-3" style="padding-top: 44px;">
						<div id="segmentedControls" class="mui-segmented-control mui-segmented-control-inverted mui-segmented-control-vertical">
							<a id="intro" class="mui-control-item mui-active tabHeight" href="#content1">邮票</a>
							<a id="intro" class="mui-control-item tabHeight" href="#content2">硬币</a>
							<a id="intro" class="mui-control-item tabHeight" href="#content3">纸钞</a>
						</div>
					</div>
					<div id="segmentedControlContents" class="mui-col-xs-9" style="padding-top: 44px; border-left: 1px solid #c8c7cc; background-color: #FFFFFF;">
						<div id="content1" class="mui-control-content mui-active">
							<ul class="mui-table-view">
							    <% @stamp_catalogs.each do |x|
							%>
							    <li  class="mui-table-view-cell">
							        <%= link_to("/list_tabs/list_normal?format=#{x.id}&&is_tabs=#{true}", class: "mui-navigate-right")  do%>
						        <!-- <a id="intro" class="mui-navigate-right" > -->
						            <span><%= x.catalog_name %></span>
						        <!-- </a>	 -->
						       	    <% end %>
							    <!-- <= link_to "#{x.catalog_name}", list_normal_list_tabs_path(x.id) %> -->
								 </li>
							    <% end %>
							</ul>
						</div>
						<div id="content2" class="mui-control-content">
							<ul class="mui-table-view">
							    <% @coin_catalogs.each do |x|
							%>
								 <li  class="mui-table-view-cell">
								    <%= link_to("/list_tabs/list_normal?format=#{x.id}&&is_tabs=#{true}", class: "mui-navigate-right")  do%>
						        <!-- <a id="intro" class="mui-navigate-right" > -->
						            <span><%= x.catalog_name %></span>
						        <!-- </a>	 -->
						       	    <% end %>
								 </li>
							    <% end %>
							</ul>
						</div>
						<div id="content3" class="mui-control-content">
							<ul class="mui-table-view">
							    <% @bill_catalogs.each do |x|
							%>
								 <li  class="mui-table-view-cell">
								    <%= link_to("/list_tabs/list_normal?format=#{x.id}&&is_tabs=#{true}", class: "mui-navigate-right")  do%>
						        <!-- <a id="intro" class="mui-navigate-right" > -->
						            <span><%= x.catalog_name %></span>
						        <!-- </a>	 -->
						       	    <% end %>
								 </li>
							    <% end %>
							</ul>
						</div>
					</div>
				</div>

				<div class="mui-off-canvas-backdrop"></div>
			</div>

			<!--弹出菜单-->
			<aside id='aside' class='mui-off-canvas-right'>
				<button id="offCanvasHide" type="button" class="mui-btn mui-btn-danger mui-btn-block popinBtnClose" style="z-index: 9; top: 44px;">关闭侧滑菜单</button>
				<div class='mui-scroll-wrapper'>
				    <%= form_tag('/list_tabs/list_normal', name: 'form1', method: 'get') %>
					<div id='pk_operator_content' for='pk_operator' class='aside_content'>
					    <%= hidden_field_tag('search_scope','current') %>
						<div class="mui-bar mui-row" style="position: fixed !important; top: 0 !important;  z-index: 10 !important;">
							<div class="mui-input-row mui-search mui-col-xs-9">
				    				<input id="name" name="name" type="search" class="mui-input-clear" placeholder="搜索志号、名称、简称、俗称等信息">
							</div>
							<div class="mui-col-xs-3 filterBtn">
								<button type="submit" class="mui-btn mui-btn-danger mui-btn-outlined">
									搜索
								</button>
							</div>
						</div>
						<div class='mui-scroll'>
							<div class="content" style="background: #fff;">
								<div style="padding: 0px 10px;">
									<div class="mui-segmented-control mui-segmented-control-inverted">
										<a class="mui-control-item mui-active" href="#">当前</a>
										<a class="mui-control-item" href="#">全部</a>
									</div>
									<div style="height: calc(100vh - 120px); touch-action: none;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id='pk_loginway_content' for='pk_loginway' class='aside_content'>
						<div class='mui-scroll'>
							<div class="content" style="background: #fff;">
								<button type="submit" class="mui-btn mui-btn-danger mui-btn-block submitBtn">确定</button>
								<div style="padding: 0px 10px;">
									<div class="mui-segmented-control mui-segmented-control-inverted">
										<a class="mui-control-item mui-active" href="#item1">邮票</a>
										<a class="mui-control-item" href="#item2">硬币</a>
										<a class="mui-control-item" href="#item3">纸钞</a>
									</div>
								</div>
								<div style="height: calc(100vh - 120px); touch-action: none;">
									<div id="item1" class="mui-control-content mui-active">
										<ul class="mui-table-view popinScrollItem">
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">版式</label>
											</li>
											<% @stamp_formats.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("stamp_format[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">题材</label>
											</li>
											<% @stamp_themes.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("stamp_theme[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
										</ul>
									</div>
									<div id="item2" class="mui-control-content">
										<ul class="mui-table-view popinScrollItem">
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">题材</label>
											</li>
											<% @coin_themes.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_theme[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">材质</label>
											</li>
											<% @coin_materials.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_material[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">重量</label>
											</li>
											<% @coin_weights.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_weight[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">年份</label>
											</li>
											<% @coin_years.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_year[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">面值</label>
											</li>
											<% @coin_face_values.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_face_value[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">套系(包装规格)</label>
											</li>
											<% @coin_pack_specs.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_pack_spec[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
										</ul>
									</div>
									<div id="item3" class="mui-control-content">
										<ul class="mui-table-view popinScrollItem">
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">版别</label>
											</li>
											<% @bill_versions.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_version[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">版刻年号</label>
											</li>
											<% @bill_engrave_years.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_engrave_year[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">面值</label>
											</li>
											<% @bill_face_values.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_face_value[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">套系(包装规格)</label>
											</li>
											<% @bill_pack_specs.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_pack_spec[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">字冠</label>
											</li>
											<% @bill_prefixs.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_prefix[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">字号</label>
											</li>
											<% @bill_serial_nos.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_serial_no[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">水印</label>
											</li>
											<% @bill_watermarks.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_watermark[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
					</form>
				</div>
			</aside>
			
		</div>

		<script type='text/javascript'>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});

			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});

			})(mui);

			mui('.filterBtn').on('tap', '.cml-aside', function() {
				//获取id
				var targetid = $(this).attr('for')
				var title = $('#' + targetid + '_title').html();
				$('#aside_title').html(title);

				var asides = document.getElementsByClassName('aside_content');
				for(var i = 0; i < asides.length; i++) {
					var forid = asides[i].getAttribute('for');
					if(forid && forid == targetid) {
						$(asides[i]).attr('style', 'display: block;');
					} else {
						$(asides[i]).attr('style', 'display: none;');
					}
				}
				mui('#aside').offCanvas('show');

			});

			document.getElementById('offCanvasHide').addEventListener('tap', function() {
				mui('#aside').offCanvas('close');
			});

			document.getElementById('current').addEventListener('tap',function(){  
				document.getElementById('search_scope').value = document.getElementById('current').getAttribute("id");
			});

			document.getElementById('all').addEventListener('tap',function(){  
				document.getElementById('search_scope').value = document.getElementById('all').getAttribute("id");
				var ck_list = document.body.querySelectorAll("input[type='checkbox']")
				
				for (var i = 0; i < ck_list.length; i++) {
					ck_list[i].checked = false;
				}
			});
		</script>
	</body>
</html>