<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>我的市值</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/front_page/editApp.css" />
		<script src="/assets/front_page/mui.min.js"></script>
		<script src="/assets/front_page/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<div class="mui-off-canvas-wrap mui-slide-in">
			<div class="mui-inner-wrap">
				
				<header class="mui-bar mui-bar-nav">
					<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
					<h1 class="mui-title">我的市值</h1>
				</header>
				
				<div class="mui-bar mui-row filterBtn" style="background: #FFFFFF !important; top: 44px;">
					<a id="offCanvasShow" href="#" style="position: absolute; width: 72%; z-index: 9999; height: 44px; line-height: 44px;" class="cml-aside" for="pk_operator">
						<span style="display: none;">显示侧面选项卡</span>
					</a>
					<div class="mui-input-row mui-search mui-col-xs-9">
						<input type="search" class="mui-input-clear" placeholder="搜索志号、名称、简称、俗称等信息">
					</div>
					<div class="mui-col-xs-3">
						<div class="mui-btn mui-btn-danger mui-btn-outlined cml-aside filterBtnA" for="pk_loginway">筛选</div>
					</div>
				</div>
		
				<div class="mui-content mui-row mui-fullscreen" style="height: 100% !important; overflow-y: auto; padding-top: 85px;">
					<div class="mui-card">
						<ul class="mui-table-view">
							<li class="mui-table-view-cell">
								<label class="rowTitle">总市值</label><p class="rowContent"><span class="bigFont">¥<%= number_with_precision(@sum_price, precision: 2) %></span></p>
							</li>
							<li class="mui-table-view-cell">
								<label class="rowTitle">总成本</label><p class="rowContent">¥<%= number_with_precision(@sum_cost, precision: 2) %></p>
							</li>
							<li class="mui-table-view-cell">
								<label class="rowTitle">盈亏</label><p class="rowContent"><span class="<%=@color%>"><%= @sum_profit>0 ? ("+"+number_with_precision(@sum_profit, precision: 2)) : number_with_precision(@sum_profit, precision: 2) %></span></p>
							</li>
						</ul>
					</div>
					<div class="mui-card">
						<ul class="mui-table-view">
							<% @collections.each do |x| 
							   if x.current_profit>=0
								color = "up" 
							   else
								color = "down"
							   end
							%>
							<li class="mui-table-view-cell mui-collapse">
								<a class="mui-navigate-right valueCheck" href="#">
									<p class="mui-ellipsis"><%= x.commodity.name %></p><span class="<%=color%>"><%= x.current_profit>0 ? ("+"+number_with_precision(x.current_profit, precision: 2)) : number_with_precision(x.current_profit, precision: 2) %></span>
								</a>
								<div class="mui-collapse-content valueItem">
									<a href="/sortings/product_sorting?format=<%=x.commodity.id%>">
										<ul class="mui-table-view">
											<li class="mui-table-view-cell">
												<label class="rowTitle">成本</label><p class="rowContent">¥<%= number_with_precision(x.cost, precision: 2) %></p>
											</li>
											<li class="mui-table-view-cell">
												<label class="rowTitle">市值</label><p class="rowContent">¥<%= number_with_precision(x.commodity.current_price, precision: 2) %></p>
											</li>
											<li class="mui-table-view-cell">
												<label class="rowTitle">数量</label><p class="rowContent"><%= x.amount %></p>
											</li>
										</ul>
									</a>
								</div>
							</li>
							<% end %>
						</ul>
					</div>
				</div>
				
				<div class="mui-off-canvas-backdrop"></div>
			</div>
			
			<!--弹出菜单-->
			<aside id='aside' class='mui-off-canvas-right'>
				<button id="offCanvasHide" type="button" class="mui-btn mui-btn-danger mui-btn-block popinBtnClose" style="z-index: 9; top: 44px;">关闭侧滑菜单</button>
				<div class='mui-scroll-wrapper'>
					<%= form_tag('/postcard_views/sorting?is_value=true', name: 'form1', method: 'get') %>
					<div id='pk_operator_content' for='pk_operator' class='aside_content'>
						<%= hidden_field_tag('search_scope','current') %>
						<div class="mui-bar mui-row" style="position: fixed !important; top: 0 !important;  z-index: 10 !important;">
							<div class="mui-input-row mui-search mui-col-xs-9">
				    				<input id="name" name="name" type="search" class="mui-input-clear" placeholder="搜索志号、名称、简称、俗称等信息">
							</div>
							<div class="mui-col-xs-3 filterBtn">
								<button type="submit" class="mui-btn mui-btn-danger mui-btn-outlined">搜索</button> 	
							</div>
						</div>
						<div class='mui-scroll'>
							<div class="content" style="background: #fff;">
								<div style="padding: 0px 10px;">
									<div class="mui-segmented-control mui-segmented-control-inverted">
										<a class="mui-control-item mui-active" id="current" href="#">当前</a>
										<a class="mui-control-item" id="all" href="#">全部</a>
									</div>
									<div style="height: calc(100vh - 120px); touch-action: none;">
									</div>
								</div>
							</div>
						</div>
					</div>
					<div id='pk_loginway_content' for='pk_loginway' class='aside_content'>
						<div class='mui-scroll'>
							<div class="content" style="background: #fff;">
								<button type="submit" class="mui-btn mui-btn-danger mui-btn-block submitBtn">确定</button>
								<div style="padding: 0px 10px;">
									<div class="mui-segmented-control mui-segmented-control-inverted">
										<a class="mui-control-item mui-active" href="#item1">邮票</a>
										<a class="mui-control-item" href="#item2">硬币</a>
										<a class="mui-control-item" href="#item3">纸钞</a>
									</div>
								</div>
								<div style="height: calc(100vh - 120px); touch-action: none;">
									<div id="item1" class="mui-control-content mui-active">
										<ul class="mui-table-view popinScrollItem">
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">版式</label>
											</li>
											<% @stamp_formats.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("stamp_format[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">题材</label>
											</li>
											<% @stamp_themes.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("stamp_theme[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
										</ul>
									</div>
									<div id="item2" class="mui-control-content">
										<ul class="mui-table-view popinScrollItem">
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">题材</label>
											</li>
											<% @coin_themes.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_theme[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">材质</label>
											</li>
											<% @coin_materials.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_material[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">重量</label>
											</li>
											<% @coin_weights.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_weight[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">年份</label>
											</li>
											<% @coin_years.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_year[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">面值</label>
											</li>
											<% @coin_face_values.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_face_value[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">套系(包装规格)</label>
											</li>
											<% @coin_pack_specs.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("coin_pack_spec[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
										</ul>
									</div>
									<div id="item3" class="mui-control-content">
										<ul class="mui-table-view popinScrollItem">
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">版别</label>
											</li>
											<% @bill_versions.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_version[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">版刻年号</label>
											</li>
											<% @bill_engrave_years.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_engrave_year[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">面值</label>
											</li>
											<% @bill_face_values.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_face_value[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">套系(包装规格)</label>
											</li>
											<% @bill_pack_specs.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_pack_spec[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">字冠</label>
											</li>
											<% @bill_prefixs.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_prefix[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">字号</label>
											</li>
											<% @bill_serial_nos.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_serial_no[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
											<li class="mui-table-view-cell">
												<label style="font-weight: bolder;">水印</label>
											</li>
											<% @bill_watermarks.each do |x| %>
											<li class="mui-table-view-cell mui-input-row mui-checkbox popinCheck">
												<label><%= x.name %></label><%= check_box_tag("bill_watermark[]","#{x.name}",((@checked_fileds.include?x.name) ? true : false)) %>
											</li>
											<% end %>
										</ul>
									</div>
								</div>
							</div>
						</div>

					</div>
					</form>
				</div>
			</aside>
			
		</div>
		<script type='text/javascript'>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});

			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});

			})(mui);

			mui('.filterBtn').on('tap', '.cml-aside', function() {
				//获取id
				var targetid = $(this).attr('for')
				var title = $('#' + targetid + '_title').html();
				$('#aside_title').html(title);

				var asides = document.getElementsByClassName('aside_content');
				for(var i = 0; i < asides.length; i++) {
					var forid = asides[i].getAttribute('for');
					if(forid && forid == targetid) {
						$(asides[i]).attr('style', 'display: block;');
					} else {
						$(asides[i]).attr('style', 'display: none;');
					}
				}
				mui('#aside').offCanvas('show');

			});

			document.getElementById('offCanvasHide').addEventListener('tap', function() {
				mui('#aside').offCanvas('close');
			});

			document.getElementById('current').addEventListener('tap',function(){  
				document.getElementById('search_scope').value = document.getElementById('current').getAttribute("id");
			});

			document.getElementById('all').addEventListener('tap',function(){  
				document.getElementById('search_scope').value = document.getElementById('all').getAttribute("id");
				var ck_list = document.body.querySelectorAll("input[type='checkbox']")
				
				for (var i = 0; i < ck_list.length; i++) {
					ck_list[i].checked = false;
				}
			});
		</script>
	</body>

</html>