<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>藏品分析列表</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/front_page/editApp.css" />
		<script src="/assets/front_page/mui.min.js"></script>
		<script src="/assets/front_page/jquery-3.3.1.min.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">藏品分析列表</h1>
		</header>
		
		<div style="background: #EFEFF4 !important;top: 44px; position: absolute; z-index: 99 !important;">
			<div class="mui-segmented-control mui-segmented-control-inverted" style=" padding: 0 10px;">
				<a class="mui-control-item mui-active tabBG" href="#item1">置顶排序</a>
				<a class="mui-control-item tabBG" href="#item2">发行排序</a>
			</div>
		</div>
		
		<div class="mui-scroll" style="height: 100%;">
			<div class="mui-col-xs-12" style="height: calc(100vh); touch-action: none;">
				<div id="item1" class="mui-control-content mui-active " style="overflow-y: auto; height: 100%;">
					<h5 style="margin-top: 84px; background: #FFFFFF;"><%= @catalog_name %></h5>
					<ul class="mui-table-view">
						<% @commodities_user.each do |x| %>
							<li class="mui-table-view-cell">
						        <a class="mui-navigate-right check" href="product_sorting?commodity_id=<%= x.id %>"><span class="redMark"><%= x.common_name %></span><%= x.name %></a>
						    </li>
					    <% end %>
					    <% (@commodities_all - @commodities_user).each do |x| %>
						    <li class="mui-table-view-cell">
						        <a class="grayLine"><span class="redMark"><%= x.common_name %></span><%= x.name %></a>
						    </li>
					    <% end %>
					</ul>
				</div>
				<div id="item2" class="mui-control-content" style="overflow-y: auto; height: 100%;">
					<h5 style="margin-top: 84px; background: #FFFFFF;"><%= @catalog_name %></h5>
					<ul class="mui-table-view">
						<li class="mui-table-view-cell">
							<% @commodities_all.each do |x| %>
								<% if @commodities_user.include?x %>
					        		<a class="mui-navigate-right check" href="product_sorting?commodity_id=<%= x.id %>"><span class="redMark"><%= x.common_name %></span><%= x.name %></a>
					        	<% else %>
					        		<a class="grayLine"><span class="redMark"><%= x.common_name %></span><%= x.name %></a>
					        	<% end %>
					        <% end %>
					    </li>
					</ul>
				</div>
			</div>
		</div>
		
		<script>
			mui.init({
				swipeBack: true //启用右滑关闭功能
			});
			(function($) {
				$('#scroll').scroll({
					indicators: true //是否显示滚动条
				});
				
			})(mui);
		</script>
	</body>

</html>