<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>产品详情</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link href="/assets/front_page/mui.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="/assets/front_page/editApp.css" />
		<script src="/assets/front_page/mui.min.js"></script>
		<script src="/assets/front_page/jquery-3.3.1.min.js"></script>
		<script src="/assets/front_page/libs/echarts-all.js"></script>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav">
		    <a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
		    <h1 class="mui-title"><%= @commodity.name %></h1>
		</header>
		<% imgs = @commodity.import_files %>
		<% i = imgs.size %>
		<div class="mui-content mui-fullscreen">
			<% if i>0 %>
			<div class="mui-slider productImg" style="max-height: 300px;">
				<div class="mui-slider-group mui-slider-loop">
					<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src=<%= imgs.last.img_relative_path(true) %> /></a></div>
					<% imgs.each do |i| %>
					<div class="mui-slider-item"><a href="#"><img src=<%= i.img_relative_path(true) %> /></a></div>
					<% end %>
					<div class="mui-slider-item mui-slider-item-duplicate"><a href="#"><img src=<%= imgs.first.img_relative_path(true) %> /></a></div>
				</div>
				<div class="mui-slider-indicator">
					<div class="mui-indicator mui-active"></div>
					<% while i>1 %>
					<div class="mui-indicator"></div>
					<% i = i-1 %>
					<% end %>
				</div>
			</div>
			<% end %>
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<label class="rowTitle">名称</label><p class="rowContent"><%= @commodity.name %></p>
					</li>
					
					<% if !(collection = @commodity.get_collection(current_front_user)).blank? %>
					<li class="mui-table-view-cell">
						<label class="rowTitle">库存数量</label><p class="rowContent"><%= collection.try :amount %>枚</p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">库存成本</label><p class="rowContent">¥<%= number_with_precision(collection.cost, precision: 2) %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">当前盈亏</label><p class="rowContent"><%= collection.current_profit>0 ? ("+"+number_with_precision(collection.current_profit, precision: 2)) : number_with_precision(collection.current_profit, precision: 2) %></p>
					</li>
					<% end %>
				</ul>
			</div>
			
			<div class="mui-card">
			    <% if @follows.blank? %>
			    


			    <%= form_tag("/follows/", name: "form1", method: "post") %>
			    <input name="commodity_id" value=<%=@commodity.id%> type="hidden" /> 
			    <button type="submit" class= "productBtn mui-btn mui-btn-danger mui-btn-block mui-btn-outlined" style="width: 50%; float: left; border-radius: 0; background-color: #ff4040;">

				<!-- <a href="/postcard_views/follows/" type="button" value="post" class="productBtn mui-btn mui-btn-danger mui-btn-block" style="width: 50%; float: left; border-radius: 0;"> -->
				<span class="mui-icon iconfont icon-guanzhu3" style="font-size: 16px; color: white">关注藏品</span> 
				</button>
				</form>
				<% else %>
                
				<%= form_tag("/follows/#{@follows.id}", name: "form2", method: "delete") %>
			    <input name="commodity_id" value=<%=@commodity.id%> type="hidden" /> 
			    <button type="submit" class= "productBtn mui-btn mui-btn-danger mui-btn-block mui-btn-outlined" style="width: 50%; float: left; border-radius: 0; background-color: #ff4040;">

				<!-- <a href="/postcard_views/follows/" type="button" value="post" class="productBtn mui-btn mui-btn-danger mui-btn-block" style="width: 50%; float: left; border-radius: 0;"> -->
				<span class="mui-icon iconfont icon-guanzhu3" style="font-size: 16px; color: white">取消关注</span> 
				</button>
				</form>	
			    <% end %>
				<!-- </a> -->
				<% if @collections.blank? %>
				<%= link_to(sorting_new_sortings_path(@commodity),  method: "post", type: "button", class: "productBtn mui-btn mui-btn-danger mui-btn-block mui-btn-outlined" , style: "width: 50%; float: left; border-radius: 0;") do%> 
				<!-- <a href="/sortings/sorting_edit" type="button" class="productBtn mui-btn mui-btn-danger mui-btn-block mui-btn-outlined" style="width: 50%; float: left; border-radius: 0;"> -->
				<span class="mui-icon iconfont icon-zhengli2" style="font-size: 18px;"></span> 添加藏品
				
				<% end %>
				<% end %>
				
				<!-- </a> -->
			</div>


			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-collapse">
						<a class="mui-navigate-right" href="#">藏品价格趋势</a>
						<div class="mui-collapse-content">
							<div class="chart" id="lineChart"></div>
						</div>
					</li>
				</ul>
			</div>
			
			<div class="mui-card">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell">
						<label class="rowTitle">基本信息</label>
					</li>
					<% if @commodity.category.eql?"stamp" %>
					<li class="mui-table-view-cell">
						<label class="rowTitle">志号</label><p class="rowContent"><%= @commodity.detail.serial_no %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">名称</label><p class="rowContent"><%= @commodity.name %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">当前价格</label><p class="rowContent"><%= number_with_precision(@commodity.prices.blank? ? nil : @commodity.prices.last.price, precision: 2) %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">设计者</label><p class="rowContent"><%= @commodity.detail.designer %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">原作者</label><p class="rowContent"><%= @commodity.detail.ori_author %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">雕作者</label><p class="rowContent"><%= @commodity.detail.engrave_author %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">版式</label><p class="rowContent"><%= @commodity.detail.format %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">版别</label><p class="rowContent"><%= @commodity.detail.version %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">题材</label><p class="rowContent"><%= @commodity.detail.theme %></p>
					</li>					
					<li class="mui-table-view-cell">
						<label class="rowTitle">整版枚数</label><p class="rowContent"><%= @commodity.detail.page_amount %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">全套枚数</label><p class="rowContent"><%= @commodity.detail.set_amount %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">背胶</label><p class="rowContent"><%= @commodity.detail.gum %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">齿孔度</label><p class="rowContent"><%= @commodity.detail.perforation %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">规格</label><p class="rowContent"><%= @commodity.detail.specification %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">责任编辑</label><p class="rowContent"><%= @commodity.detail.editor %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">发行日期</label><p class="rowContent"><%= @commodity.detail.issue_at.blank? ? "" : @commodity.detail.issue_at.strftime('%Y-%m-%d') %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">发行量</label><p class="rowContent"><%= @commodity.detail.circulation %></p>
					</li>					
					<li class="mui-table-view-cell">
						<label class="rowTitle">印刷机构</label><p class="rowContent"><%= @commodity.detail.print_unit %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">发行机构</label><p class="rowContent"><%= @commodity.detail.issue_unit %></p>
					</li>
					<% elsif @commodity.category.eql?"coin" %>
					<li class="mui-table-view-cell">
						<label class="rowTitle">名称</label><p class="rowContent"><%= @commodity.name %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">当前价格</label><p class="rowContent"><%= number_with_precision(@commodity.prices.blank? ? nil : @commodity.prices.last.price, precision: 2) %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">题材</label><p class="rowContent"><%= @commodity.detail.theme %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">材质</label><p class="rowContent"><%= @commodity.detail.material %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">重量</label><p class="rowContent"><%= @commodity.detail.weight %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">年份</label><p class="rowContent"><%= @commodity.detail.year %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">面值</label><p class="rowContent"><%= @commodity.detail.face_value %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">套系(包装规格)</label><p class="rowContent"><%= @commodity.detail.pack_spec %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">直径</label><p class="rowContent"><%= @commodity.detail.diameter %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">成色</label><p class="rowContent"><%= @commodity.detail.percentage %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">质量</label><p class="rowContent"><%= @commodity.detail.quality %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">形状</label><p class="rowContent"><%= @commodity.detail.shape %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">正面</label><p class="rowContent"><%= @commodity.detail.head %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">反面</label><p class="rowContent"><%= @commodity.detail.tail %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">铸造单位</label><p class="rowContent"><%= @commodity.detail.cast_unit %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">发行量</label><p class="rowContent"><%= @commodity.detail.circulation %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">发行机构</label><p class="rowContent"><%= @commodity.detail.issue_unit %></p>
					</li>
					<% elsif @commodity.category.eql?"bill" %>
					<li class="mui-table-view-cell">
						<label class="rowTitle">名称</label><p class="rowContent"><%= @commodity.name %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">当前价格</label><p class="rowContent"><%= number_with_precision(@commodity.prices.blank? ? nil : @commodity.prices.last.price, precision: 2) %></p>
					</li>	
					<li class="mui-table-view-cell">
						<label class="rowTitle">版别</label><p class="rowContent"><%= @commodity.detail.version %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">版刻年号</label><p class="rowContent"><%= @commodity.detail.engrave_year %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">面值</label><p class="rowContent"><%= @commodity.detail.face_value %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">套系(包装规格)</label><p class="rowContent"><%= @commodity.detail.pack_spec %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">字冠</label><p class="rowContent"><%= @commodity.detail.prefix %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">字号</label><p class="rowContent"><%= @commodity.detail.serial_no %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">水印</label><p class="rowContent"><%= @commodity.detail.watermark %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">印刷工艺</label><p class="rowContent"><%= @commodity.detail.print_process %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">正面</label><p class="rowContent"><%= @commodity.detail.head %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">反面</label><p class="rowContent"><%= @commodity.detail.tail %></p>
					</li>
					<li class="mui-table-view-cell">
						<label class="rowTitle">发行日期</label><p class="rowContent"><%= @commodity.detail.issue_at.blank? ? "" : @commodity.detail.issue_at.strftime('%Y-%m-%d') %></p>
					</li>
					<% end %>
				</ul>
			</div>
			<% if !@commodity.desc.blank? %>
			<div class="mui-card">
				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<%= @commodity.desc %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
		
		<script type="text/javascript">
			var dom = document.getElementById("lineChart");
			var myChart = echarts.init(dom);
			var app = {};
			option = null;
			app.title = '多 X 轴示例';
			
			var colors = ['#37a2da', '#ff9f7f', '#675bba'];
			
			
			option = {
			    color: colors,
			
			    tooltip: {
			        trigger: 'none',
			        axisPointer: {
			            type: 'cross'
			        }
			    },
			    legend: {
			        data:['2017同比', '2018现价']
			    },
			    grid: {
			        top: 70,
			        bottom: 50
			    },
			    xAxis: [
			        {
			            type: 'category',
			            axisTick: {
			                alignWithLabel: true
			            },
			            axisLine: {
			                onZero: false,
			                lineStyle: {
			                    color: colors[1]
			                }
			            },
			            axisPointer: {
			                label: {
			                    formatter: function (params) {
			                        return '价格  ' + params.value
			                            + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
			                    }
			                }
			            },
			            data: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"]
			        },
			        {
			            type: 'category',
			            axisTick: {
			                alignWithLabel: true
			            },
			            axisLine: {
			                onZero: false,
			                lineStyle: {
			                    color: colors[0]
			                }
			            },
			            axisPointer: {
			                label: {
			                    formatter: function (params) {
			                        return '价格  ' + params.value
			                            + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
			                    }
			                }
			            },
			            data: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"]
			        }
			    ],
			    yAxis: [
			        {
			            type: 'value'
			        }
			    ],
			    series: [
			        {
			            name:'2017同比',
			            type:'line',
			            xAxisIndex: 1,
			            smooth: true,
			            data: [120, 132, 101, 134, 90, 230, 210, 120, 132, 101, 134, 130]
			        },
			        {
			            name:'2018现价',
			            type:'line',
			            smooth: true,
			            data: [220, 182, 191, 234, 290, 330, 310, 101, 134, 90, 230, 210]
			        }
			    ]
			};
			;
			if (option && typeof option === "object") {
			    myChart.setOption(option, true);
			}
       </script>
	</body>

</html>