<%- model_class = Coin -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human%></h1>
</div>
<%= render partial: 'coins_grid'%>
<div>
  <%= form_tag('', name: 'form1') %>
  <div style="float:right">
    <% if can? :new, Coin %>
      <%= link_to t('.new', :default => t("helpers.links.new")),
                  new_coin_path,
                  :class => 'btn btn-primary' %>
    <% end %>
    <% if can? :import, Coin %>
      <%= link_to t('.import', :default => t("helpers.links.import")), "/coins/to_import", :class => 'btn btn-primary' %>
    <% end %>
    <% if can? :export, Coin %>
      <%= submit_tag "导出",:class => 'btn btn-primary', onclick: "form1.action='/coins/export.xls';form1.submit();" %>
    <% end %>  
    <% if can? :price_import, Coin %>
      <%= link_to t('.price_import', :default => t("helpers.links.price_import")), "/coins/price_import", :class => 'btn btn-primary' %>
    <% end %>
    <% if can? :price_export, Coin %>
      <%= submit_tag "价格导出",:class => 'btn btn-primary', onclick: "form1.action='/coins/price_export.xls';form1.submit();" %>
    <% end %>
  </div>
  
  <div class="index-filters">
    <table>
    <tr>
    <td>商品编码:</td>
    <td><%= grid_filter(@coins_grid, :commodity_no_filter)%></td>
    <td>商品名称:</td>
    <td><%= grid_filter(@coins_grid, :name_filter)%></td>
    <td>商品目录:</td>
    <td><%= grid_filter(@coins_grid, :catalog_id_filter)%></td>
    <td>是否显示:</td>
    <td><%= grid_filter(@coins_grid, :is_show_filter)%></td>
    <td>题材:</td>
    <td><%= grid_filter(@coins_grid, :theme_filter)%></td>
    </tr>
    <tr>
    <td>材质:</td>
    <td><%= grid_filter(@coins_grid, :material_filter)%></td>
    <td>重量:</td>
    <td><%= grid_filter(@coins_grid, :weight_filter)%></td>
    <td>年份:</td>
    <td><%= grid_filter(@coins_grid, :year_filter)%></td>
    <td>面值:</td>
    <td><%= grid_filter(@coins_grid, :face_value_filter)%></td>
    <td>套系(包装规格):</td>
    <td><%= grid_filter(@coins_grid, :pack_spec_filter)%></td>
    </tr>
    <tr>
    </tr>
    </table>
  </div>
  <div align='right'>
    <button class="btn btn-primary wg-external-submit-button" data-grid-name="coins">递交</button>
    <button class="btn btn-primary wg-external-reset-button" data-grid-name="coins">重置</button>
  </div>  
  </form>
</div>
<div class="clearfix"></div> 
<%= render_grid(@coins_grid)%>

